langchain
langchain_groq
langchain_community
langgraph
python-dotenv
streamlit
langgraph-checkpoint-sqlite
ddgs # ducdkduckgo search package
pypdf
huggingface_hub
langchain_huggingface
sentence-transformers
faiss-cpu
youtube-transcript-api
